#pokeball {
    width: 300px;
    height: 300px;
    background-image: url(images/balls/pokeBall.png);
    background-size: cover;
    cursor: pointer;
    z-index:10000;
    border-radius: 50%;
    border: 5px solid green;
}

#pokeMart {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.product {
    cursor: pointer;
    border: 10px solid red;
    height: 100px;
}

.icon {
    width: 100px;
    height: 100px;
    background-size: cover;
}

#productIcon1 {
    background-image: url(images/produits/scout.png);
}

#productIcon2 {
    background-image: url(images/produits/magikarp.png);
}

#productIcon3 {
    background-image: url(images/produits/geodude.png);
}

#productIcon4 {
    background-image: url(images/produits/voltorb.png);
}

#productIcon5 {
    background-image: url(images/produits/clefairy.png);
}

#productIcon6 {
    background-image: url(images/produits/ditto.png);
}

#productIcon7 {
    background-image: url(images/produits/mew.png);
}