#menu, #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu {
    position: absolute;
    display: flex;
    left: 10px;
    top: 100px;
}


#menu ul li {
    border: 1px solid black;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu ul {
    position: absolute;
    display: none;
    text-align: left;
    z-index: 1000;
}

#menu li:hover ul {
    display: block;
}

#menu li {
    border: 3px solid black;
     transition: transform 0.3s ease;
}
#menu li:hover {
    transform: scale(1.05);}