body {
    background-image: url(../images/background1.png);
    background-size: 1920px 1080px;
}


#b{
    position:absolute;
    top: 40px;
    left: 48%;
    width: 30px;
    height: 30px;
    z-index: 200000;
} 

.gouteDeau{
    right: 40%;
    position: absolute;
    background: url("../images/Goutte_d'eau.png");
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
}

#nuage {
    position: absolute;
    cursor: pointer;
    left: 40%;
    top: 0%;
    z-index: 10000;
}

#nuage img {
    width: 100%;
    height: 100%;
}

#recipient {
    margin: 500px;
    margin-left: 45%;
    width: 200px;
    height: 200px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    background-color: blue;
}

#niveauEau {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #c3ddf2;
}

#nbrGouttes {
    position: absolute;
    z-index: 1000;
    top: 36%;
    left: 938px;
}

#gout{
    left: 48%;   
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 5000;
}


#nuage :active {
  transform: scale(1.05);
}