/*vie et perso*/
#life {
    position: absolute;
    left:30%;
    top:82%;
    transform: translate(-50%, -50%);
    height: 5px;
    width:60px;
    background-color:black;
}
    
#life div {
    width:100%;
    height:100%;
    left:0%;
    background-color: green;
    transition-duration: 1s;
}
    
.test img {
    position: relative;
    right: 80px;       
}


#life2 {
    position: absolute;
    left:15%;
    top:82%;
    height: 10px;
    width:60px;
    background-color:black;
}


.haha { 
    position: absolute;
    min-width: 0%;
    width:calc(var(--width, 0) *1%) ;
    height:10px;
    left:0%;
    max-width: calc(100% - 1%);
    background-color: green;
}


#life3 {
    position: absolute;
    top:82%;
    transform: translate(-50%, -50%);
    height: 5px;
    width:60px;
    background-color:black;
}


#life3 div { 
    width:100%;
    height:100%;
    left:0%;
    background-color: green;
    transition-duration: 1s;
}

.test2 img { 
    position: relative;
    right:80px;
}

.shaman img {
    width: 200px;
    height: 300px;
    

}

.test3 img {
    height: 200px;
    position: relative;
    right:50px;
}

/* tableau option et menu */
#tab {
    border: solid;
    width: 350px;
    height:420px;
    position:relative;
    bottom: 100px;
    margin-left: auto;
}

.trait {
    width: 345px;
    border: solid;
    margin-top:80px;
}

.trait2 {
    width: 345px;
    border:solid;
    margin-top: 80px;
}
.trait3 {
    width: 345px;
    border:solid;
    margin-top:80px;
}
.trait4 {
    width: 345px;
    border:solid;
    margin-top:80px;
}
    