/*vie et perso 1*/
#life {
    position: absolute;
    top: 82%;
    height: 10px;
    width: 60px;
    background-color: black;
}
    
.hehe {
    position: absolute;
    min-width: 0%;
    width: calc(var(--width, 0) *1%) ;
    height: 10px;
    left: 0%;
    max-width: calc(100% - 1%);
    background-color: green;
}

.zaza {
    min-width: 0%;
    width: calc(var(--width, 0) *1%) ;
    position: absolute;
    height: 10px;
    left: 0%;
    background-color: aqua;
    max-width: calc(100% - 1%);
}

#life div {
    width: 100%;
    height: 100%;
    left: 0%;
    background-color: green;
    transition-duration: 1s;
}

.test img {
    position: relative;
    right: 80px;       
}

#life2 {
    position: absolute;
    left: 15%;
    top: 82%;
    height: 10px;
    width: 60px;
    background-color: black;
}

.haha { 
    position: absolute;
    min-width: 0%;
    width: calc(var(--width, 0) *1%) ;
    height: 10px;
    left: 0%;
    max-width: calc(100% - 1%);
    background-color: green;
}

#life3 {
    left: 100px;
    position: absolute;
    top: 82%;
    height: 10px;
    width: 60px;
    background-color: black;
}

/*.test {
    top: 30px;
    position: relative;
    right: 80px;       
}*/

.test2 img { 
    position: relative;
    right: 80px;
}

.chaman img {
    width: 200px;
    height: 300px;
    margin-top: 100px;
    transition-duration: 2s;
}

.chaman img:active{
    transform: rotatey(360deg);
}

.test3 img {
    top: 50px;
    height: 185px;
    position: relative;
    right: 40px;
}

#tab {
    border: solid;
    width: 350px;
    height: 420px;
    position: relative;
    bottom: 100px;
    margin-left: auto;
}

.trait {
    width: 345px;
    border: solid;
    margin-top: 80px;
}

.trait2 {
    width: 345px;
    border: solid;
    margin-top: 80px;
}

.trait3 {
    width: 345px;
    border: solid;
    margin-top: 80px;
}

.trait4 {
    width: 345px;
    border: solid;
    margin-top: 80px;
}